*.iml
.gradle
.gradle_home/
.gradle_local/
.kotlin/
.codebuddy/
.workbuddy/memory/
/local.properties
/.idea/
.DS_Store
.claude/
/build
**/build/
captures/
*.apk
*.ap_
*.aab
.externalNativeBuild
.cxx/
